@{
    ViewBag.Title = "Index";
}
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<h4>Operations</h4>
<h2>Admin Page</h2>
<table>
    <tr><td>@Html.ActionLink("Edit Details", "EditDetails")</td></tr>
    <tr><td>@Html.ActionLink("View Statistics", "ViewStats")</td></tr>
</table>


